flask
pandas
numpy
faiss-cpu
torch
huggingface
langchain
sentence-transformers
sentencepiece
sqlalchemy
psycopg2
redis
sacremoses
peft
langchain-google-genai
unstructured
unstructured[pdf]
aiohttp
Flask[async]