--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1 (Debian 16.1-1.pgdg120+1)
-- Dumped by pg_dump version 16.1 (Debian 16.1-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: btree_gin; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gin WITH SCHEMA public;


--
-- Name: EXTENSION btree_gin; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gin IS 'support for indexing common datatypes in GIN';


--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: cube; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS cube WITH SCHEMA public;


--
-- Name: EXTENSION cube; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION cube IS 'data type for multidimensional cubes';


--
-- Name: dblink; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS dblink WITH SCHEMA public;


--
-- Name: EXTENSION dblink; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION dblink IS 'connect to other PostgreSQL databases from within a database';


--
-- Name: dict_int; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS dict_int WITH SCHEMA public;


--
-- Name: EXTENSION dict_int; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION dict_int IS 'text search dictionary template for integers';


--
-- Name: dict_xsyn; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS dict_xsyn WITH SCHEMA public;


--
-- Name: EXTENSION dict_xsyn; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION dict_xsyn IS 'text search dictionary template for extended synonym processing';


--
-- Name: earthdistance; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS earthdistance WITH SCHEMA public;


--
-- Name: EXTENSION earthdistance; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION earthdistance IS 'calculate great-circle distances on the surface of the Earth';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: hstore; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS hstore WITH SCHEMA public;


--
-- Name: EXTENSION hstore; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION hstore IS 'data type for storing sets of (key, value) pairs';


--
-- Name: intarray; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS intarray WITH SCHEMA public;


--
-- Name: EXTENSION intarray; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION intarray IS 'functions, operators, and index support for 1-D arrays of integers';


--
-- Name: ltree; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS ltree WITH SCHEMA public;


--
-- Name: EXTENSION ltree; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION ltree IS 'data type for hierarchical tree-like structures';


--
-- Name: pg_stat_statements; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_stat_statements WITH SCHEMA public;


--
-- Name: EXTENSION pg_stat_statements; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_stat_statements IS 'track planning and execution statistics of all SQL statements executed';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: pgrowlocks; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgrowlocks WITH SCHEMA public;


--
-- Name: EXTENSION pgrowlocks; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgrowlocks IS 'show row-level locking information';


--
-- Name: pgstattuple; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgstattuple WITH SCHEMA public;


--
-- Name: EXTENSION pgstattuple; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgstattuple IS 'show tuple-level statistics';


--
-- Name: tablefunc; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS tablefunc WITH SCHEMA public;


--
-- Name: EXTENSION tablefunc; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION tablefunc IS 'functions that manipulate whole tables, including crosstab';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: xml2; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS xml2 WITH SCHEMA public;


--
-- Name: EXTENSION xml2; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION xml2 IS 'XPath querying and XSLT';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ebesha_indomaret_whatsapp_embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebesha_indomaret_whatsapp_embeddings (
    data bytea
);


ALTER TABLE public.ebesha_indomaret_whatsapp_embeddings OWNER TO postgres;

--
-- Name: ebesha_lmd_whatsapp_embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebesha_lmd_whatsapp_embeddings (
    data bytea
);


ALTER TABLE public.ebesha_lmd_whatsapp_embeddings OWNER TO postgres;

--
-- Name: full_llm_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.full_llm_cache (
    prompt character varying NOT NULL,
    llm character varying NOT NULL,
    idx integer NOT NULL,
    response character varying
);


ALTER TABLE public.full_llm_cache OWNER TO postgres;

--
-- Name: full_md5_llm_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.full_md5_llm_cache (
    id character varying NOT NULL,
    prompt_md5 character varying,
    llm character varying,
    idx integer,
    prompt character varying,
    response character varying
);


ALTER TABLE public.full_md5_llm_cache OWNER TO postgres;

--
-- Name: indomaret_knowledge; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.indomaret_knowledge (
    index bigint,
    question text,
    answer text
);


ALTER TABLE public.indomaret_knowledge OWNER TO lmd;

--
-- Name: langchain_pg_collection; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.langchain_pg_collection (
    name character varying,
    cmetadata json,
    uuid uuid NOT NULL
);


ALTER TABLE public.langchain_pg_collection OWNER TO lmd;

--
-- Name: langchain_pg_embedding; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.langchain_pg_embedding (
    collection_id uuid,
    embedding real[],
    document character varying,
    cmetadata json,
    custom_id character varying,
    uuid uuid NOT NULL
);


ALTER TABLE public.langchain_pg_embedding OWNER TO lmd;

--
-- Name: lmd_knowledge; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.lmd_knowledge (
    index bigint,
    "Unnamed: 0" bigint,
    question text,
    answer text
);


ALTER TABLE public.lmd_knowledge OWNER TO lmd;

--
-- Name: products; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.products (
    index bigint,
    product_id bigint,
    product_name text,
    price double precision,
    user_id bigint
);


ALTER TABLE public.products OWNER TO lmd;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.sales (
    index bigint,
    sale_id bigint,
    user_id bigint,
    product_id bigint,
    sale_date text,
    quantity bigint,
    total_price double precision
);


ALTER TABLE public.sales OWNER TO lmd;

--
-- Name: servers; Type: TABLE; Schema: public; Owner: lmd
--

CREATE TABLE public.servers (
    index bigint,
    server_id bigint,
    location text,
    status text,
    user_id bigint
);


ALTER TABLE public.servers OWNER TO lmd;

--
-- Data for Name: ebesha_indomaret_whatsapp_embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ebesha_lmd_whatsapp_embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: full_llm_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: full_md5_llm_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.full_md5_llm_cache (id, prompt_md5, llm, idx, prompt, response) FROM stdin;
\.


--
-- Data for Name: indomaret_knowledge; Type: TABLE DATA; Schema: public; Owner: lmd
--



--
-- Data for Name: langchain_pg_collection; Type: TABLE DATA; Schema: public; Owner: lmd
--

COPY public.langchain_pg_collection (name, cmetadata, uuid) FROM stdin;
state_of_the_union	null	3e19ca46-36d2-4606-92fc-6e25e88c9ff8
\.


--
-- Data for Name: langchain_pg_embedding; Type: TABLE DATA; Schema: public; Owner: lmd
--



--
-- Data for Name: lmd_knowledge; Type: TABLE DATA; Schema: public; Owner: lmd
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: lmd
--

COPY public.products (index, product_id, product_name, price, user_id) FROM stdin;
0	1	Product 1	49.99	1
1	2	Product 2	29.99	2
2	3	Product 3	39.99	3
3	4	Product 4	19.99	4
4	5	Product 5	59.99	5
5	6	Product 6	79.99	6
6	7	Product 7	24.99	7
7	8	Product 8	69.99	8
8	9	Product 9	34.99	9
9	10	Product 10	44.99	10
10	11	Product 11	54.99	1
11	12	Product 12	64.99	2
12	13	Product 13	74.99	3
13	14	Product 14	84.99	4
14	15	Product 15	94.99	5
15	16	Product 16	104.99	6
16	17	Product 17	114.99	7
17	18	Product 18	124.99	8
18	19	Product 19	134.99	9
19	20	Product 20	144.99	10
\.


--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: lmd
--



--
-- Data for Name: servers; Type: TABLE DATA; Schema: public; Owner: lmd
--

COPY public.servers (index, server_id, location, status, user_id) FROM stdin;
0	1	Jakarta	Active	1
1	2	Bandung	Active	2
2	3	Surabaya	Inactive	3
3	4	Yogyakarta	Active	4
4	5	Semarang	Inactive	5
5	6	Medan	Active	6
6	7	Bali	Active	7
7	8	Makassar	Inactive	8
8	9	Palembang	Active	9
9	10	Balikpapan	Active	10
10	11	Denpasar	Inactive	1
11	12	Samarinda	Active	2
12	13	Manado	Active	3
13	14	Pekanbaru	Inactive	4
14	15	Pontianak	Active	5
15	16	Banjarmasin	Active	6
16	17	Malang	Inactive	7
17	18	Padang	Active	8
18	19	Bandar Lampung	Active	9
19	20	Ambon	Inactive	10
\.


--
-- Name: full_llm_cache full_llm_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.full_llm_cache
    ADD CONSTRAINT full_llm_cache_pkey PRIMARY KEY (prompt, llm, idx);


--
-- Name: full_md5_llm_cache full_md5_llm_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.full_md5_llm_cache
    ADD CONSTRAINT full_md5_llm_cache_pkey PRIMARY KEY (id);


--
-- Name: langchain_pg_collection langchain_pg_collection_pkey; Type: CONSTRAINT; Schema: public; Owner: lmd
--

ALTER TABLE ONLY public.langchain_pg_collection
    ADD CONSTRAINT langchain_pg_collection_pkey PRIMARY KEY (uuid);


--
-- Name: langchain_pg_embedding langchain_pg_embedding_pkey; Type: CONSTRAINT; Schema: public; Owner: lmd
--

ALTER TABLE ONLY public.langchain_pg_embedding
    ADD CONSTRAINT langchain_pg_embedding_pkey PRIMARY KEY (uuid);


--
-- Name: ix_full_md5_llm_cache_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_full_md5_llm_cache_idx ON public.full_md5_llm_cache USING btree (idx);


--
-- Name: ix_full_md5_llm_cache_llm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_full_md5_llm_cache_llm ON public.full_md5_llm_cache USING btree (llm);


--
-- Name: ix_full_md5_llm_cache_prompt_md5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_full_md5_llm_cache_prompt_md5 ON public.full_md5_llm_cache USING btree (prompt_md5);


--
-- Name: ix_indomaret_knowledge_index; Type: INDEX; Schema: public; Owner: lmd
--

CREATE INDEX ix_indomaret_knowledge_index ON public.indomaret_knowledge USING btree (index);


--
-- Name: ix_lmd_knowledge_index; Type: INDEX; Schema: public; Owner: lmd
--

CREATE INDEX ix_lmd_knowledge_index ON public.lmd_knowledge USING btree (index);


--
-- Name: ix_products_index; Type: INDEX; Schema: public; Owner: lmd
--

CREATE INDEX ix_products_index ON public.products USING btree (index);


--
-- Name: ix_sales_index; Type: INDEX; Schema: public; Owner: lmd
--

CREATE INDEX ix_sales_index ON public.sales USING btree (index);


--
-- Name: ix_servers_index; Type: INDEX; Schema: public; Owner: lmd
--

CREATE INDEX ix_servers_index ON public.servers USING btree (index);


--
-- Name: langchain_pg_embedding langchain_pg_embedding_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: lmd
--

ALTER TABLE ONLY public.langchain_pg_embedding
    ADD CONSTRAINT langchain_pg_embedding_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.langchain_pg_collection(uuid) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

