<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <form action="/chatbot" method="post">
        <label for="query">User Input : </label><br>
        <input type="text" id="query" name="query"><br>

        <label for="tenant_name">Tenant Name : </label><br>
        <input type="text" id="tenant_name" name="tenant_name"><br>

        <label for="module_flag">Module Flag : </label><br>
        <input type="text" id="module_flag" name="module_flag"><br>

        <label for="socmed_type">Socmed Type : </label><br>
        <input type="text" id="socmed_type" name="socmed_type"><br>

        <input type="submit" value="Submit">
    </form> 
    
</body>
</html>